<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>MYCinema</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="/js/cufon-yui.js" type="text/javascript"></script>
    <script src="/js/cufon-replace.js" type="text/javascript"></script>
    <script src="/js/Gill_Sans_400.font.js" type="text/javascript"></script>
    <script src="/js/script.js" type="text/javascript"></script>
    <!--[if lt IE 7]>
    <script type="text/javascript" src="/js/ie_png.js"></script>
    <script type="text/javascript">ie_png.fix('.png, .link1 span, .link1');</script>
    <link href="/css/ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body id="page2">
<!-- START PAGE SOURCE -->
<div class="tail-top">
    <div class="tail-bottom">
        <div id="main">
            <div id="header">
                <div class="row-1">
                    <div class="fleft"><a href="/home">MY<span>Cinema</span></a></div>
                    <ul>
                        <li><a href="/home"><img src="images/icon1.gif" alt=""/></a></li>
                        <li><a href="/contact"><img src="images/icon2.gif" alt=""/></a></li>
                        <li sec:authorize="!isAuthenticated()"><a href="/login"><img
                                src="https://img.icons8.com/small/100/ffffff/enter-2.png"
                                style="width: 13px; height: 12px" alt=""/></a></li>
                        <li sec:authorize="isAuthenticated()"><a href="/logout"><img
                                src="https://img.icons8.com/fluency-systems-regular/100/ffffff/exit.png"
                                style="width: 15px; height: 14px" alt=""/></a></li>
                    </ul>
                </div>
                <div class="row-2">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/movies" class="active">Movies</a></li>
                        <li><a href="/myreservations">My Reservations</a></li>
                        <li><a href="/news">News</a></li>
                        <li class="last"><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div id="content">
                <div class="line-hor"></div>
                <div class="box">
                    <div class="border-right">
                        <div class="border-left">
                            <div class="inner">
                                <div th:if="${#strings.equals(user?.role, 'ROLE_ADMIN')}">
                                    <a href="/movies/add" class="add-item" >
                                        Add new movie
                                    </a>
                                </div>
                                <ul>
                                    <li th:each="m : ${movies}" style="padding-bottom: 50px">
                                        <h3 th:text="${m.name}"></h3>
                                        <img th:src="${m.pictureUrl}" alt="" width="280px" height="200px"/>
                                        <div style="display: inline; width: 550px; float: right ">
                                            <span style="font-weight: bold"><u>Description:</u> </span>
                                            <p th:text="${m.description}" style="display: inline"></p><br>
                                            <span style="font-weight: bold"><u>Director:</u> </span>
                                            <p th:text="${m.director.name}" style="display: inline"></p>
                                            <span>, </span>
                                            <p th:text="${m.director.address}" style="display: inline"></p>
                                            <span>, </span>
                                            <p th:text="${m.director.country}" style="display: inline"></p><br>
                                            <span style="font-weight: bold"><u>Genre:</u> </span>
                                            <ul th:each="g : ${m.genre}">
                                                <li th:text="${g.name}"></li>
                                            </ul>
                                            <span style="font-weight: bold"><u>Price:</u> </span>
                                            <p th:text="${m.price}" style="display: inline"></p><span>$</span><br>
                                            <span style="font-weight: bold"><u>Year:</u> </span>
                                            <p th:text="${m.year}" style="display: inline"></p>
                                            <br>
                                                <div style="display: inline-block"><a th:href="@{/reservation/{id}(id=${m.id})}" class="link2"><span><span>Reserve Here</span></span></a></div>
                                            <a th:if="${#strings.equals(user?.role, 'ROLE_ADMIN')}" th:href="@{'/movies/{id}/edit' (id=${m.id})}" class="edit-item" style="float: right">Edit</a>
                                            <form style="display: inline-block; float: right" method="POST" th:if="${#strings.equals(user?.role, 'ROLE_ADMIN')}" th:action="@{'/movies/{id}/delete' (id=${m.id})}" >
                                                <button type="submit" class="delete-item">Delete</button>
                                            </form>

                                        </div>

                                    </li>
                                    <li class="clear" >&nbsp;</li>
                                </ul>
                                <div th:if="${totalPages > 1}">
                                    <div class="row col-sm-10">
                                        <div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}"
                           th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
                                        </div>
                                        <div class="col-sm-1" style="display: inline-block; margin-right: 10px">
                                            <a th:if="${currentPage < totalPages}"
                                               th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                                            <span th:unless="${currentPage < totalPages}">Next</span>
                                        </div>
                                        <div class="col-sm-1" style="display: inline-block">
                                            <a th:if="${currentPage < totalPages}"
                                               th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                                            <span th:unless="${currentPage < totalPages}">Last</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="footer">
                    <div class="left">
                        <div class="right">
                            <div class="footerlink">
                                <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"> Cufon.now(); </script>
    <!-- END PAGE SOURCE -->
</body>
</html>